config/acme.json
config/frontend/*.js
config/gateway/mapping.yaml
config/peatio/management_api_v1.yml
config/barong/management_api.yml
config/finex/*
config/toolbox.yaml
config/traefik.toml
config/*.env
config/secrets/*
!config/secrets/.gitkeep
config/peatio/seed/*
!config/peatio/seed/.gitkeep
config/applogic/*
!config/applogic/.gitkeep
vendor/
!vendor/.gitkeep
.terraform/
*.tfvars
terraform.tfstate*
!data/parity/.gitkeep
