config/acme.json
config/gateway/mapping.yaml
config/peatio/management_api_v1.yml
config/toolbox.yaml
config/traefik.toml
config/*.env
config/secrets/*
!config/secrets/.gitkeep
vendor/
!vendor/.gitkeep
