[Unit]
Description=MicroKube Webhook service

[Service]
User=app
Environment="WEBHOOK_JWT_SECRET=GENERATED_HMAC_SECRET"
ExecStart=/bin/bash -c "source ~/.rvm/scripts/rvm; bundle exec rackup config.ru"
Type=simple
Restart=always
WorkingDirectory=MICROKUBE_DIRECTORY

[Install]
WantedBy=multi-user.target
